@import './base/normalize';

@import './utils/breakpoints';
@import './utils/variables';

@import './components/container';
@import './components/common';
@import './components/header';
@import './components/main';
@import './components/footer';
@import './components/myLibrary';
@import './components/loader';
@import './components/modal_movie_card';
