@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@-webkit-keyframes animate360 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes animate360 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 15px;
  }
  100% {
    left: 35px;
    width: 20px;
  }
}
@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 15px;
  }
  100% {
    left: 35px;
    width: 20px;
  }
}
@-webkit-keyframes reverse {
  0% {
    left: 35px;
    width: 20px;
  }
  60% {
    left: 4px;
    width: 15px;
  }
  100% {
    left: 4px;
  }
}
@keyframes reverse {
  0% {
    left: 35px;
    width: 20px;
  }
  60% {
    left: 4px;
    width: 15px;
  }
  100% {
    left: 4px;
  }
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  color: #000000;
}

main {
  min-height: 100vw;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.section.no-padding-top {
  padding-top: 0;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section.no-padding-top {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section.no-padding-top {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.link {
  text-decoration: none;
}

.site-nav__link--home {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.site-nav__link--home {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.site-nav__link--home:hover, .site-nav__link--home:focus {
  color: #ff001b;
}

.site-nav__home {
  padding-top: 44px;
  margin-left: 100px;
}

.site-nav__link--library {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.site-nav__link--library {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.site-nav__link--library:hover, .site-nav__link--library:focus {
  color: #ff001b;
}

.site-nav__sign {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.site-nav__sign {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-top: 51px;
  margin-left: 40px;
}
.site-nav__sign:hover, .site-nav__sign:focus {
  color: #ff001b;
}

.site-nav__library {
  padding-top: 44px;
  margin-left: 40px;
}

.site-nav {
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
}

.film-logo {
  width: 24px;
  height: 24px;
  margin-top: 40px;
  -webkit-animation: animate360 3000ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
          animation: animate360 3000ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.site-nav__item--film {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.site-nav__item--film {
  color: #ffffff;
  padding-top: 40px;
  margin-left: 10px;
}

.some-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.some-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.some-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.some-input:focus::-moz-placeholder {
  opacity: 0;
}

.some-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.some-input:focus::placeholder {
  opacity: 0;
}

.colortext {
  color: red;
}

.some-input {
  position: relative;
}

@media screen and (max-width: 767px) {
  .overlay {
    background-image: url("/src/images/overlay/bg-mob.jpg");
    height: 230px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .site-nav__item--film {
    display: none;
  }
  .some-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 265px;
    color: #ffffff;
  }
  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
  }
  .footer {
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  .search {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 7px;
    margin-left: 250px;
  }
  .site-nav__sign {
    margin-left: 20px;
    padding-top: 46px;
  }
  .site-nav__home {
    margin-left: 50px;
  }
  .site-nav__library {
    margin-left: 35px;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url("/src/images/overlay/bg-tab.jpg");
    height: 216px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .site-nav__film {
    padding-top: 40px;
  }
  .film-logo {
    margin-top: 45px;
  }
  .site-nav__home {
    padding-top: 49px;
    margin-left: 350px;
  }
  .site-nav__library {
    padding-top: 49px;
  }
  .some-input {
    margin: 0;
  }
  .some-input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 336px;
    color: #ffffff;
  }
  .search-form {
    display: flex;
    justify-content: center;
  }
  .search-form {
    margin-top: 60px;
  }
  .footer {
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  .footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    margin-right: 30px;
  }
  .search {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    margin-top: 133px;
    margin-left: 160px;
  }
  .site-nav__home {
    margin-left: 335px;
  }
  .site-nav__sign {
    margin-left: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .overlay {
    background-image: url("/src/images/overlay/bg-desk.jpg");
    height: 216px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .site-nav__home {
    padding-top: 49px;
    margin-left: 830px;
  }
  .some-input {
    width: 394px;
  }
  .search-form {
    margin-top: 60px;
  }
  .footer {
    height: 77px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  .footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 70px;
    margin: 0;
    padding-top: 34px;
  }
  .search {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    margin-top: 132px;
    margin-left: 190px;
  }
  .film-logo {
    margin-left: 0;
  }
}
.site-nav__link--home.site-nav__current::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #ff001b;
  background-color: #ff001b;
  left: 154;
  width: 0;
  height: 3px;
  top: 60;
  width: 35px;
}

.site-nav__link--home.site-nav__current:after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #ff001b;
  background-color: #ff001b;
  left: 0;
  width: 0;
  height: 3px;
  top: 14;
  width: 35px;
}

.site-nav__link--library.site-nav__current:after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #ff001b;
  background-color: #ff001b;
  right: 0;
  width: 0;
  height: 3px;
  top: 14;
  width: 68px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form__title {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.25rem;
}

.form_link {
  color: #ff6b08;
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-decoration: none;
}

.container-auth {
  position: relative;
  height: 420px;
  max-width: 767px;
  width: 100%;
  margin-top: 15%;
  margin-left: 20%;
  background-color: #ffffff;
  border-radius: 0.7rem;
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container-auth {
    height: 400px;
    max-width: 760px;
    width: 74%;
    border-radius: 0.7rem;
    margin-top: 14%;
    margin-left: 10%;
  }
}

.container-auth__form {
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
  height: 100%;
}

.container-auth--signin {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-auth.right-panel-active .container-auth--signin {
  transform: translateX(100%);
}

.container-auth--signup {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}

.container-auth.right-panel-active .container-auth--signup {
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}

.container-auth__overlay-auth {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  left: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container-auth.right-panel-active .container-auth__overlay-auth {
  transform: translateX(-100%);
}

.overlay-auth {
  position: relative;
  height: 100%;
  width: 200%;
  left: -100%;
  background-color: #ff6b08;
  background-image: url(../images/auth-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  place-items: center;
}

.container-auth.right-panel-active .overlay-auth {
  transform: translateX(50%);
}

.overlay__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  text-align: center;
  transform: translateX(0);
  transition: transform 0, 6s ease-in-out;
  height: 100%;
  width: 50%;
}

.overlay--left {
  transform: translateX(-20%);
}

.container-auth.right-panel-active .overlay--left {
  transform: translateX(0);
}

.overlay--right {
  right: 0;
  transform: translateX(0%);
}

.container-auth.right-panel-active .overlay--right {
  transform: translateX(20%);
}

.btn {
  padding: 0.9rem 4rem;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(25px);
  transform-origin: 50%;
  border-radius: 5px;
}
.btn:focus, .btn:hover {
  color: #ff6b08;
  outline: none;
  transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.form > .btn {
  margin-top: 1.5rem;
}

.btn:active {
  transform: scale(0.95);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
}

.input {
  background-color: #ffffff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

.modal__close-button {
  position: absolute;
  top: 203px;
  right: 269px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 25;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__close-button {
    top: 121px;
    right: 138px;
  }
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #ff6b08;
}

.modal__close-button--left {
  position: absolute;
  top: 203px;
  left: 269px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 25;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__close-button--left {
    top: 121px;
    left: 90px;
  }
}
.modal__close-button--left:hover, .modal__close-button--left:focus {
  fill: #ff6b08;
}

.modal__icon-cross {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(26%, 30%);
  width: 18px;
  height: 18px;
}

.modal__icon-cross--left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(26%, 30%);
  width: 18px;
  height: 18px;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.pagination {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .pagination {
    padding-bottom: 60px;
  }
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: #FF001B !important;
  border-color: #FF001B !important;
}

.pagination .tui-pagination {
  margin: 0;
}

:root {
  /** sunny side **/
  --blue: #9ad8e7d0;
  --blue-border: #9ad7e791;
  --blue-color: #9ad7e791;
  --yellow-background: #fefbbe;
  --yellow-border: #f5ea71a2;
  /** dark side **/
  --indigo:rgb(38, 47, 52);
  --indigo-border: rgba(222, 222, 222, 0.8);
  --gray: #e8e8ea;
  /** general **/
  --white: #fff;
}

.switcher {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
@media (min-width: 1220px) {
  .switcher {
    margin-top: 10px;
  }
}

.toggle--checkbox {
  display: none;
}

.dark-theme {
  background-color: var(--indigo);
  color: var(--white);
}
.dark-theme .movie-card__title,
.dark-theme .modal-movie-card__description,
.dark-theme .modal-movie-card__film-desсriptoin,
.dark-theme .modal-movie-card__table-value,
.dark-theme .modal-movie-card__film-title {
  color: var(--white);
}
.dark-theme .modal-movie-card,
.dark-theme .modal-movie-card__close-btn {
  background-color: var(--indigo);
}
.dark-theme .modal-movie-card__icon-exit {
  fill: var(--white);
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo);
  border-color: var(--indigo-border);
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  width: 3px;
  height: 3px;
  top: 5px;
  left: 10px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 3px;
  height: 3px;
  top: 5px;
  left: 15px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 3px;
  height: 3px;
  left: 4px;
  top: 12px;
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray);
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 60px;
  height: 30px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 1px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle--label-background {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 35px;
  top: 10px;
  transition: all 150ms ease-in;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 15px;
  height: 3px;
  border-radius: 5px;
  background: var(--white);
  left: -9px;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 15px;
  height: 3px;
  border-radius: 5px;
  background: var(--white);
  left: 1px;
  transition: all 150ms ease-in;
}

.toggle--label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid var(--yellow-border);
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}

.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray) -13px 0 0 2px, var(--gray) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

.arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #8c8c8c;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: 2px solid #8c8c8c;
  border-radius: 50%;
}

.arrow-top:before {
  content: "▲";
}

.arrow-top:hover {
  color: #ff6b08;
  border-color: #ff6b08;
}

.arrow-hidden {
  display: none;
}

.arrow-show {
  display: flex;
}

.gallery__wrapper {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__wrapper:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.movies-cardset {
  display: grid;
}
@media screen and (max-width: 767px) {
  .movies-cardset {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-cardset {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .movies-cardset {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.gallery__genres::after {
  content: "|";
  margin-left: 4px;
}

.movie-card {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .movie-card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movie-card {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .movie-card:not(:last-child) {
    margin-bottom: 20px;
  }
}
.movie-card__image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.movie-card__title {
  margin-top: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto";
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .movie-card__title {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movie-card__title {
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (max-width: 767px) {
  .movie-card__title {
    font-size: 12px;
    line-height: 1.33;
  }
}
.movie-card__info {
  color: #ff6b08;
  font-family: "Roboto";
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .movie-card__info {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movie-card__info {
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (max-width: 767px) {
  .movie-card__info {
    font-size: 12px;
    line-height: 1.33;
  }
}
.movie-card__rate {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  background-color: #FF6B01;
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .movie-card__rate {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movie-card__rate {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .movie-card__rate {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-list__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    margin-left: 30px;
  }
  .footer-list__item--dev {
    margin-left: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
  }
  .footer-list__item--stud {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  .favorit {
    width: 14px;
    height: 13px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 768px) {
  .footer-list__item {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
    margin-left: 30px;
  }
  .footer-list__item--dev {
    margin-left: 4px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
  }
  .footer-list__item--stud {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  .favorit {
    width: 14px;
    height: 17px;
    margin-left: 5px;
  }
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 55px;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .overlay-lab {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/overlay/lib-mob.jpg");
    height: 230px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .overlay-lab .button-watched, .overlay-lab .button-queue {
    width: 129.53px;
    height: 44px;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
  }
  .button-watched:hover,
.button-watched:focus,
.button-watched:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-watched:hover:before {
    width: 100%;
  }
  .button-watched {
    position: relative;
  }
  .button-queue:hover,
.button-queue:focus,
.button-queue:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-queue:hover:before {
    width: 100%;
  }
  .button-queue {
    position: relative;
  }
  .button {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .button-queue {
    margin-left: 25px;
  }
}
@media screen and (min-width: 768px) {
  .overlay-lab {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/overlay/lib-tab.jpg");
    height: 216px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .button-watched {
    width: 152px;
    height: 44px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
  }
  .button-queue {
    width: 152px;
    height: 44px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
  }
  .button-watched:hover,
.button-watched:focus,
.button-watched:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-watched:hover:before {
    width: 100%;
  }
  .button-watched {
    position: relative;
  }
  .button-queue:hover,
.button-queue:focus,
.button-queue:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-queue:hover:before {
    width: 100%;
  }
  .button-queue {
    position: relative;
    margin-left: 32px;
  }
  .button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .overlay-lab {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/overlay/lib-deskt.jpg");
    height: 216px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .button-watched {
    width: 148px;
    height: 42px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
  }
  .button-queue {
    width: 148px;
    height: 42px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
  }
  .button-watched:hover,
.button-watched:focus,
.button-watched:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-queue :hover:before {
    width: 100%;
  }
  .button-watched {
    position: relative;
  }
  .button-queue:hover,
.button-queue:focus,
.button-queue:active {
    background: #FF6B01;
    border: none;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
  }
  .button-queue {
    position: relative;
  }
  .button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader-wrapper {
  z-index: 2000;
  width: 300px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 330px;
  transform: translate(-50%, 0);
}

.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #ff6b08 0%, #ff001b 74%);
  left: 33%;
  transform-origin: 50%;
  -webkit-animation: circle 0.5s alternate infinite ease;
          animation: circle 0.5s alternate infinite ease;
}

@-webkit-keyframes circle {
  0% {
    top: 30px;
    height: 10px;
    border-radius: 100px 100px 50px 50px;
    transform: scaleX(1.4);
  }
  40% {
    height: 10px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    top: 30px;
    height: 10px;
    border-radius: 100px 100px 50px 50px;
    transform: scaleX(1.4);
  }
  40% {
    height: 10px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 49%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 33%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.shadow {
  width: 10px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 32px;
  transform-origin: 50%;
  z-index: -1;
  left: 33%;
  filter: blur(1px);
  -webkit-animation: shadow 0.5s alternate infinite ease;
          animation: shadow 0.5s alternate infinite ease;
}

@-webkit-keyframes shadow {
  0% {
    transform: scaleX(1.1);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1.1);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(5) {
  left: 49%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.shadow:nth-child(6) {
  left: auto;
  right: 33%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@media (min-width: 700px) {
  .loader-wrapper {
    width: 600px;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
  @-webkit-keyframes circle {
    0% {
      top: 30%;
      height: 15px;
      border-radius: 100px 100px 50px 50px;
      transform: scaleX(1.4);
    }
    40% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0%;
    }
  }
  @keyframes circle {
    0% {
      top: 30%;
      height: 15px;
      border-radius: 100px 100px 50px 50px;
      transform: scaleX(1.4);
    }
    40% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0%;
    }
  }
  .shadow {
    width: 15px;
    height: 5px;
  }
}
body.show-modal .modal-movie-card__backdrop {
  opacity: 1;
  pointer-events: initial;
}

body.show-modal .modal-movie-card {
  transform: scale(1);
}

.modal-movie-card__container {
  position: relative;
  margin-top: 20rem;
}
@media (min-width: 700px) {
  .modal-movie-card__container {
    margin-top: 0rem;
  }
}

.modal-movie-card__backdrop {
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 150ms;
  transition-property: all;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
}
@media (min-width: 700px) {
  .modal-movie-card__backdrop {
    overflow: hidden;
  }
}

.modal-movie-card {
  font-family: Roboto, sans-serif;
  width: 280px;
  height: 100%;
  padding: 48px 20px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 700px) {
  .modal-movie-card {
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
    display: flex;
    justify-content: space-around;
  }
}

.modal-movie-card__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 0rem;
  padding: 20px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
@media (min-width: 700px) {
  .modal-movie-card__close-btn {
    top: 1px;
    right: 1px;
  }
}

.modal-movie-card__icon-exit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1004;
  width: 24px;
  height: 24px;
}

.modal-movie-card__film-title {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}

.modal-movie-card__table {
  border-collapse: collapse;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}

.modal-movie-card__table-refs {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #8c8c8c;
}

.modal-movie-card__table-value {
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}
@media (min-width: 700px) {
  .modal-movie-card__table-value {
    padding-left: 50px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__table-value {
    padding-left: 95px;
  }
}

.modal-movie-card__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-movie-card__description {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 26px;
}
@media (min-width: 700px) {
  .modal-movie-card__description {
    margin-bottom: 20px;
  }
}

.modal-movie-card__button-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .modal-movie-card__button-wrapper {
    justify-content: start;
  }
  .modal-movie-card__button-wrapper > :first-child {
    margin-right: 15px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__button-wrapper {
    margin-left: 8px;
  }
}

.modal-movie-card__img-wrapper {
  margin-bottom: 30px;
  width: 238px;
  height: 357px;
  overflow: hidden;
  border-radius: 1%;
}
@media (min-width: 700px) {
  .modal-movie-card__img-wrapper {
    width: 250px;
    height: 374px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__img-wrapper {
    width: 319px;
    height: 478px;
    margin-bottom: 0px;
  }
}

.modal-movie-card__img-wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-movie-card__film-desсriptoin {
  width: 240px;
}
@media (min-width: 700px) {
  .modal-movie-card__film-desсriptoin {
    width: 264px;
    margin-left: 60px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__film-desсriptoin {
    width: 396px;
    margin-left: 20px;
  }
}

.modal-movie-card__button {
  height: 44px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .modal-movie-card__button {
    justify-content: flex-start;
  }
}

.modal-movie-card__item-desc--orange {
  background: #FF6B01;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 1px 9px;
}

.modal-movie-card__item-desc--grey {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 5px;
}

.no-element-found {
  width: 205px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 154px;
  transform: translate(-74%, 0);
  padding-left: 20px;
  padding-top: 12px;
}

.no-element-found span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ff001b;
}

@media (min-width: 700px) {
  .no-element-found {
    width: 470px;
    top: 154px;
    transform: translate(-50%, 0);
  }
  .no-element-found span {
    font-size: 14px;
  }
}
body.show-modal .modal-movie-card__backdrop {
  opacity: 1;
  pointer-events: initial;
}

body.show-modal .modal-movie-card {
  transform: scale(1);
}

.modal-movie-card__container {
  position: relative;
  margin-top: 20rem;
}
@media (min-width: 700px) {
  .modal-movie-card__container {
    margin-top: 0rem;
  }
}

.modal-movie-card__backdrop {
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 150ms;
  transition-property: all;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
}
@media (min-width: 700px) {
  .modal-movie-card__backdrop {
    overflow: hidden;
  }
}

.modal-movie-card {
  font-family: Roboto, sans-serif;
  width: 280px;
  height: 100%;
  padding: 48px 20px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 700px) {
  .modal-movie-card {
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
    display: flex;
    justify-content: space-around;
  }
}

.modal-movie-card__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 0rem;
  padding: 20px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
@media (min-width: 700px) {
  .modal-movie-card__close-btn {
    top: 1px;
    right: 1px;
  }
}

.modal-movie-card__icon-exit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1004;
  width: 24px;
  height: 24px;
}

.modal-movie-card__film-title {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}

.modal-movie-card__table {
  border-collapse: collapse;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}

.modal-movie-card__table-refs {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #8c8c8c;
}

.modal-movie-card__table-value {
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}
@media (min-width: 700px) {
  .modal-movie-card__table-value {
    padding-left: 50px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__table-value {
    padding-left: 95px;
  }
}

.modal-movie-card__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-movie-card__description {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 26px;
}
@media (min-width: 700px) {
  .modal-movie-card__description {
    margin-bottom: 20px;
  }
}

.modal-movie-card__button-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .modal-movie-card__button-wrapper {
    justify-content: start;
  }
  .modal-movie-card__button-wrapper > :first-child {
    margin-right: 15px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__button-wrapper {
    margin-left: 8px;
  }
}

.modal-movie-card__img-wrapper {
  margin-bottom: 30px;
  width: 238px;
  height: 357px;
  overflow: hidden;
  border-radius: 1%;
}
@media (min-width: 700px) {
  .modal-movie-card__img-wrapper {
    width: 250px;
    height: 374px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__img-wrapper {
    width: 319px;
    height: 478px;
    margin-bottom: 0px;
  }
}

.modal-movie-card__img-wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-movie-card__film-desсriptoin {
  width: 240px;
}
@media (min-width: 700px) {
  .modal-movie-card__film-desсriptoin {
    width: 264px;
    margin-left: 60px;
  }
}
@media (min-width: 1220px) {
  .modal-movie-card__film-desсriptoin {
    width: 396px;
    margin-left: 20px;
  }
}

.modal-movie-card__button {
  height: 44px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .modal-movie-card__button {
    justify-content: flex-start;
  }
}

.modal-movie-card__item-desc--orange {
  background: #FF6B01;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 1px 9px;
}

.modal-movie-card__item-desc--grey {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 5px;
}

/* кнопки в модалке ADD TO WATCH/QUEUE */
.change-button__wrapper {
  position: relative;
  min-width: 110px;
  height: 44px;
  padding: 5px;
}
@media (min-width: 700px) {
  .change-button__wrapper {
    margin: 0px 15px 0px 5px;
    min-width: 136px;
  }
}

.change-button__wrapper:last-child {
  margin: 0px 0px 0px 0px;
}

.change-button__wrapper .change-button__checkbox {
  position: absolute;
  bottom: -30px;
  left: -99999;
  opacity: 0;
  visibility: none;
}

.change-button__wrapper .change-button__button-on,
.change-button__wrapper .change-button__button-off {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform-origin: center;
}

.change-button__wrapper .change-button__button-on {
  background-color: #FF6B01;
  color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateX(-90deg) translateZ(25px);
}

.change-button__wrapper .change-button__button-off {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #000000;
  text-transform: uppercase;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateX(0deg) translateZ(25px);
}

.change-button__wrapper:hover .change-button__button-off,
.change-button__wrapper:hover .change-button__button-on {
  transition: box-sadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.change-button__wrapper:hover .change-button__button-on {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.05) rotateX(-90deg) translateZ(25px);
}

.change-button__wrapper:hover .change-button__button-off {
  background-color: #ffffff;
  color: #FF6B01;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.change-button__wrapper:hover input:checked ~ .change-button__button-off {
  transform: scale(1.05) rotateX(90deg) translateZ(25px);
}

.change-button__wrapper:hover input:checked ~ .change-button__button-on {
  transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.change-button__wrapper input:checked ~ .change-button__button-off {
  transform: rotateX(90deg) translateZ(25px);
}

.change-button__wrapper input:checked ~ .change-button__button-on {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateX(0deg) translateZ(25px);
}/*# sourceMappingURL=index.css.map */