<footer class="footer">
  <div class="footer-reserv">
  <ul class="footer-list">
      <li class="footer-list__item">© 2022 | All Rights Reserved |</li>
    </ul>
  </div>
  <div class="footer-dev">
    <ul class="footer-list">
      <li class="footer-list__item--dev">Developed with</li>
    
      <li>
      <svg class="favorit">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg></li>
      <li class="footer-list__item--stud"><a class="footer__link footer__link--name js-modal-open">by GoIT Students</a></li>
    </ul>
    </div>

</footer>
