<header class="overlay">
  <div class="container">
    <ul class="site-nav">
      <li class="site-nav__item">
        <ul class="site-nav__link-list">
          <svg class="film-logo">
            <a href="./index.html">
            <use href="./images/sprite.svg#icon-film"></use>
            </a>
          </svg>
          <li class="site-nav__item--film" >
            <a href="./index.html" class="site-nav__link">Filmoteka</a>
          </li>
        </ul>
      </li>
        <!-- <svg class="film-logo">
          <a href="./index.html">
          <use href="./images/sprite.svg#icon-film"></use>
          </a>
        </svg>
        <li class="site-nav__item--film" >
          <a href="./index.html" class="site-nav__link">Filmoteka</a>
        </li> -->
        <li class="site-nav__item">
          <ul class="site-nav__link-list">
            <li class="site-nav__home">
              <a href="./index.html" class="site-nav__link--home site-nav__current">Ноme</a>
            </li>
            <li class="site-nav__library">
              <a href="./my-library.html" class="site-nav__link--library">my library</a>
            </li>
            <li class="site-nav__sign">
              <a href="#" data-modal-open class="site-nav__link--sign">sign in</a>
            </li>
          </ul>
        </li>
        <!-- <li class="site-nav__home">
          <a href="./index.html" class="site-nav__link--home site-nav__current">Ноme</a>
        </li>
        <li class="site-nav__library">
          <a href="./my-library.html" class="site-nav__link--library">my library</a>
        </li>
        <li class="site-nav__sign">
          <a href="#" class="site-nav__link--sign">sign in</a>
        </li> -->
    </ul>

    <form class="search-form" id="search-form">
      <input
        type="text"
        class="some-input"
        name="Movie search"
        autocomplete="off"
        placeholder="Movie search"
      /><svg class="search">
        <use href="./images/sprite.svg#icon-search-2"></use>
      </svg>
    </form>

	 <!-- Переключатель Day/Night -->
	 <div class="switcher">
		 <input type="checkbox" id="toggle" class="toggle--checkbox">
		 <label for="toggle" class="toggle--label">
			  <span class="toggle--label-background"></span>
		 </label>
	 </div>

	 <!-- Стрілка нагору -->
	 <div class="arrow-top arrow-hidden"></div>

  </div>
</header>
