<div class="loader-wrapper is-hidden">
    <!-- <video src="../images/movie-time-popcorn.mp4"></video> -->
    <div class="gif-wrap">
        <div class="tenor-gif-embed" data-postid="13218448" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a
                href="https://tenor.com/view/movie-time-popcorn-eating-movie-marathon-skeleton-gif-13218448">Movie Time Popcorn
                Sticker</a>from <a href="https://tenor.com/search/movie+time-stickers">Movie Time Stickers</a></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <span class="loader-text">Loading</span>
</div>