<main>
  <section class="section movies">
    <div class="container">
      <h2 hidden class="section-title">Movies</h2>

      <ul class="movies-cardset list">
        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              | 
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>

        <li class="movie-card">
          <a href="" class="movie-card__link link">
            <img
              src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg"
              width="395"
              height="574"
              alt=""
              class="movie-card__image"
            />
            <h3 class="movie-card__title">Фільм</h3>
            <div class="movie-card__info">
              <span class="movie-card__genre">Жанр</span>
              |
              <span class="movie-card__year">Рік</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="section pages no-padding-top"></section>
  <div class="backdrop-movie is-hidden">
    <div class="modal-movie is-hidden">
      <!-- <button class="button-close" data-modal-close>
      <svg class="button-close__icon-close" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button> -->
      <div class="movie-card"></div>
    </div>
  </div>

  <!--Кнопки для модалки ADD TO WATCH/QUEUE-->
<!-- <div class="button__thumb">
  <div class="change-button__wrapper">
    <label>
      <input type="checkbox" name="watched" class="change-button__checkbox js-watched">
      <span type="button" class="change-button__button-on removeAddWatch">Remove from watched</span>
      <span type="button" class="change-button__button-off addWatch">Add to watched</span>
    </label>
  </div>
  <div class="change-button__wrapper">
    <label>
      <input type="checkbox" name="queue" class="change-button__checkbox js-queue">
      <span type="button" class="change-button__button-on removeQueue">Remove from queue</span>
      <span type="button" class="change-button__button-off addQueue">Add to queue</span>
    </label>
  </div>
</div> -->
--></main>
