<div class="backdrop-movie is-hidden">
  <div class="modal-movie is-hidden">
    <!-- <button class="button-close" data-modal-close>
      <svg class="button-close__icon-close" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button> -->
    <div class="movie-card"></div>
  </div>
</div>

<!--Кнопки для модалки ADD TO WATCH/QUEUE-->
<!--<div class="button__thumb">
    <div class="change-button__wrapper">
      <label>
        <input type="checkbox" name="watched" class="change-button__checkbox js-watched" checked="">
        <span type="button" class="change-button__button-on">Remove from watched</span>
        <span type="button" class="change-button__button-off">Add to watched</span>
      </label>
    </div>
    <div class="change-button__wrapper">
      <label>
        <input type="checkbox" name="queue" class="change-button__checkbox js-queue">
        <span type="button" class="change-button__button-on">Remove from queue</span>
        <span type="button" class="change-button__button-off">Add to queue</span>
      </label>
    </div>
  </div>
-->