    <section class="section movies" id="myLibrary">
        <div class="container">
            <h2 hidden class="section-title">Movies</h2>

            <ul class="movies-cardset list">
                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>

                <li class="movie-card">
                    <a href="" class="movie-card__link link">
                        <img src="https://media.kg-portal.ru/movies/f/fall2022/posters/fall2022_2.jpg" width="395" height="574" alt="" class="movie-card__image">
                        <h3 class="movie-card__title">Фільм</h3>
                        <div class="movie-card__info">
                            <span class="movie-card__genre">Жанр</span> 
                        |
                        <span class="movie-card__year">Рік</span>
                        <span class="movie-card__rate">9.6</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="section pages no-padding-top"></section>