<header class="overlay-lab">
  <div class="container">
    <ul class="site-nav">
        <svg class="film-logo">
          <a href="./index.html">
          <use href="./images/sprite.svg#icon-film"></use>
          </a>
        </svg>
        <li class="site-nav__item--film">
          <a href="./index.html" class="site-nav__link">Filmoteka</a>
        </li>
        <li class="site-nav__home">
          <a href="./index.html" class="site-nav__link--home">Ноme</a>
        </li>
        <li class="site-nav__library">
          <a href="#" class="site-nav__link--library site-nav__current">my library</a>
        </li>
        <li class="site-nav__sign">
          <a href="#" class="site-nav__link--sign">sign in</a>
        </li>
    </ul>
    <div class="button">
    <button class="button-watched" type="submit">Watched</button>
    <button class="button-queue" type="submit">queue</button>
    </div>

	 	 <!-- Переключатель Day/Night -->
		  <div class="switcher">
			<input type="checkbox" id="toggle" class="toggle--checkbox">
			<label for="toggle" class="toggle--label">
				 <span class="toggle--label-background"></span>
			</label>
		</div>

			 <!-- Стрілка нагору -->
			 <div class="arrow-top arrow-hidden"></div>
			 
  </div>
</header>
