<div class="no-element">
    <div class="gif-wrap">
        <div class="tenor-gif-embed" data-postid="15257162" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a
                href="https://tenor.com/view/skeleton-spooky-gif-15257162">Skeleton Spooky Sticker</a>from <a
                href="https://tenor.com/search/skeleton-stickers">Skeleton Stickers</a></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>    
    <span>Sorry, there are no movies matching your search query. <br> Please try again.</span>
</div>