/* кнопки в модалке ADD TO WATCH/QUEUE */
.change-button__wrapper {
    position: relative;
    min-width: 136px;
    height: 44px;
}

.change-button__wrapper .change-button__checkbox {
    position: absolute;
    bottom: -30px;
    left: -99999;
    opacity: 0;
    visibility: none;
}

.change-button__wrapper .change-button__button-on,
.change-button__wrapper .change-button__button-off {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform-origin: center;
}

.change-button__wrapper .change-button__button-on {
    background-color: $span-bg-color;
    color: getColor('extra-text');
    border: 1px solid getColor('primary-text');
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(-90deg) translateZ(25px);
}

.change-button__wrapper .change-button__button-off {
    color: getColor('primary-text');
    background-color: getColor('extra-text');
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid getColor('primary-text');
    text-transform: uppercase;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
}

.change-button__wrapper:hover .change-button__button-off,
.change-button__wrapper:hover .change-button__button-on {
    transition: box-sadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.change-button__wrapper:hover .change-button__button-on {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(-90deg) translateZ(25px);
}

.change-button__wrapper:hover .change-button__button-off {
    background-color: getColor('extra-text');
    color: $span-bg-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.change-button__wrapper:hover input:checked~.change-button__button-off {
    transform: scale(1.05) rotateX(90deg) translateZ(25px);
}

.change-button__wrapper:hover input:checked~.change-button__button-on {
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
}

.change-button__wrapper input:checked~.change-button__button-off {
    transform: rotateX(90deg) translateZ(25px);
}

.change-button__wrapper input:checked~.change-button__button-on {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(0deg) translateZ(25px);
}