ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.6em;
	color: getColor('primary-text');
}

main{
  min-height: 100vw;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &.no-padding-top {
    padding-top: 0;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 0;
        padding-bottom: 60px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 40px;
    }
  }
}

.link {
  text-decoration: none;
}