@media screen and (min-width:320px) and (max-width: 767px) {
    .footer-list__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545454;
        margin-left: 30px;
    }
    .footer-list__item--dev {
        margin-left: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545454;
    }
    .footer-list__item--stud {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545454;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
    .favorit {
        width: 14px;
        height: 13px;
        margin-left: 5px
    }
}
@media screen and (min-width: 768px)  {
    .footer-list__item {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #545454;
        margin-left: 30px;
    }
    .footer-list__item--dev {
        margin-left: 4px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #545454;
    }
    .footer-list__item--stud {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #545454;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
    .favorit {
        width: 14px;
        height: 17px;
        margin-left: 5px
    }
   

}
.footer-list  {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 55px;
   align-items: flex-end;
 }