.footer-list_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    
    margin-left: 30px;
}
.footer-list_item--dev {
    margin-left: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
   
}
.favorit {
    width: 14px;
    height: 12.75px;
    margin-left: 5px
    
}

.footer-list_item--stud {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    margin-left: 5px;
   
}
