.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader-wrapper {    
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);    
}

.circle {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #FF6B08 0%, #FF001B 74%);
    left: 33%;    
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 30px;
        height: 10px;
        border-radius: 100px 100px 50px 50px;
        transform: scaleX(1.4);    
    }

    40% {
        height: 10px;
        border-radius: 50%;
        transform: scaleX(1); 
    }

    100% {
        top: 0%;        
    }
}

.circle:nth-child(2) {
    left: 48%;
    animation-delay: .2s;    
}

.circle:nth-child(3) {
    left: auto;
    right: 33%;
    animation-delay: .3s;
}

.shadow {
    width: 10px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 32px;
    transform-origin: 50%;
    z-index: -1;
    left: 33%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.1);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(5) {
    left: 48%;
    animation-delay: .2s
}

.shadow:nth-child(6) {
    left: auto;
    right: 33%;
    animation-delay: .3s;
}

.loader-text {
    margin-top: 20px;
    position: absolute;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;    
    letter-spacing: 8px;
    color: getColor('hover');
    left: 50%;
    transform: translate(-50%, 50%);
}

.gif-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -175%);
    width: 25%;    
}

.tenor-gif-embed {
    transform: rotateY(180deg)
}

@include for-tablet-up {
    .loader-wrapper {
            width: 500px;
            height: 100px;
            top: 80%;            
        }

        .circle {
            width: 15px;
            height: 15px;            
        }
    
        @keyframes circle {
            0% {
                top: 30%;                
                height: 15px;
                border-radius: 100px 100px 50px 50px;
                transform: scaleX(1.4);
            }
    
            40% {
                height: 15px;
                border-radius: 50%;
                transform: scaleX(1);
            }
    
            100% {
                top: 0%;
            }
        }

        .shadow {
            width: 15px;
            height: 5px;            
        }
    
        .loader-text {
            margin-top: 30px;            
            font-size: 35px;
            letter-spacing: 10px;            
            left: 51%;            
        }
    
        .gif-wrap {
            position: absolute;            
            transform: translate(-50%, -140%);
            width: 30%;
        }
}