.gallery__wrapper {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__wrapper:hover {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.05) rotateX(0deg) translateZ(25px);
}
.movies-cardset {
    display: grid;
    @media screen and (max-width: 767px) {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        padding-left: 22px;
        padding-right: 22px;
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        padding-left: 22px;
        padding-right: 22px;
    }    
}


.gallery__genres::after {
    content: '|';
    margin-left: 4px;
}

.movie-card {
    width: 100%;

    @media screen and (max-width: 767px) {
        width: 100%;  
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 100%;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__image {
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin-top: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
        color: getColor('primary-text');
        font-family: 'Roboto';
        font-weight: 500;

        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 12px;
            line-height: 1.33;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 1.33;
        }
    }

    &__info {
        color: getColor('accent');
        font-family: 'Roboto';
        font-weight: 500;

        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 12px;
            line-height: 1.33;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 1.33;
        }
    }

    &__rate {
        color: getColor('extra-text');
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        text-align: center;
        background-color: getColor('span-bg-color');
        border-radius: 5px;

        @media screen and (min-width: 1280px) {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}