.movies-cardset {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.movie-card {
    width: calc((100% - 2 * 16px) / 3);
    margin-right: 16px;
    margin-bottom: 32px;

    @media screen and (max-width: 767px) {
            width: calc(100%);
            margin: 0 auto;
            margin-bottom: 20px;    
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: calc((100% - 32px) / 2);
        margin-bottom: 32px;
        margin-right: 32px;
    }

    &:nth-child(2n) {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-right: 0;
        }
    }

    &:nth-child(3n) {
        @media screen and (min-width: 1280px) {
            margin-right: 0;
        }

        @media screen and (max-width: 767px) {
            margin-right: auto;
        }
    }

    &:nth-last-child(-n+2) {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-bottom: 0;
        }
    }

    &:nth-last-child(-n+3) {
        @media screen and (min-width: 1280px) {
            margin-bottom: 0;
        }
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }


    &__image {
        border-radius: 5px;

        @media screen and (max-width: 767px) {
            width: 100%;
            weight: 100%;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 100%;
        }
    }

    &__title {
        margin-top: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
        color: getColor('title-text-color');
        font-family: 'Roboto';
        font-weight: 500;

        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 12px;
            line-height: 1.33;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 1.33;
        }
    }

    &__info {
        color: getColor('text-color');
        font-family: 'Roboto';
        font-weight: 500;

        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 12px;
            line-height: 1.33;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 1.33;
        }
    }

    &__rate {
        color: getColor('text-white-color');
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        text-align: center;
        background-color: getColor('span-bg-color');
        border-radius: 5px;

        @media screen and (min-width: 1280px) {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}