:root {
	/** sunny side **/
	--blue: #9ad8e7d0;
	--blue-border: #9ad7e791;
	--blue-color: #9ad7e791;
	--yellow-background: #fefbbe;
	--yellow-border: #f5ea71a2;
	/** dark side **/
	--indigo: rgba(47, 47, 47, 0.8);
	--indigo-border: rgba(222, 222, 222, 0.8);
	--gray: #e8e8ea;
	/** general **/
	--white: #fff;
}

//----------------position------------------
.switcher{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.toggle--checkbox {
	display: none;
}

// .toggle--checkbox:checked {
// 	/** This will all flip from sun to moon **/
// 	/** Change the label color **/
// }

//---------------dark-theme---------------------
.dark-theme{
	background-color: var(--indigo);
	color: var(--white);
	
	.movie-card__title{
	color: var(--white);
	}
}

.toggle--checkbox:checked+.toggle--label {
	background: var(--indigo);
	border-color: var(--indigo-border);
	/** Change the cloud to stars **/
	/** Change the sun into the moon **/
	/** Show the dimples on the moon **/
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background {
	width: 3px;
	height: 3px;
	top: 5px;
	left: 10px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:before {
	width: 3px;
	height: 3px;
	top: 5px;
	left: 15px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:after {
	width: 3px;
	height: 3px;
	left: 4px;
	top: 12px;
}

.toggle--checkbox:checked+.toggle--label:before {
	background: var(--white);
	border-color: var(--gray);
	animation-name: switch;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
}


.toggle--label {
	/** Placeholder element, starting at blue **/
	width: 60px;
	height: 30px;
	background: var(--blue-color);
	border-radius: 100px;
	border: 1px solid var(--blue-border);
	display: flex;
	position: relative;
	transition: all 350ms ease-in;
	/** The sun cloud and moon stars **/
	/** Sun/Moon element **/
	/** Gray dots on the moon **/
}

.toggle--label-background {
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: relative;
	background: var(--white);
	left: 35px;
	top: 10px;
	transition: all 150ms ease-in;
}

.toggle--label-background:before {
	content: "";
	position: absolute;
	top: 0px;
	width: 15px;
	height: 3px;
	border-radius: 5px;
	background: var(--white);
	left: -9px;
	transition: all 150ms ease-in;
}

.toggle--label-background:after {
	content: "";
	position: absolute;
	top: 5px;
	width: 15px;
	height: 3px;
	border-radius: 5px;
	background: var(--white);
	left: 1px;
	transition: all 150ms ease-in;
}

.toggle--label:before {
	animation-name: reverse;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
	transition: all 350ms ease-in;
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid var(--yellow-border);
	top: 4px;
	left: 4px;
	position: absolute;
	border-radius: 82px;
	background: var(--yellow-background);
}

.toggle--label:after {
	transition-delay: 0ms;
	transition: all 250ms ease-in;
	position: absolute;
	content: "";
	box-shadow: var(--gray) -13px 0 0 2px, var(--gray) -24px 14px 0 -2px;
	left: 143px;
	top: 23px;
	width: 5px;
	height: 5px;
	background: transparent;
	border-radius: 50%;
	opacity: 0;
}

@keyframes switch {
	0% {
		 left: 4px;
	}

	60% {
		 left: 4px;
		 width: 15px;
	}

	100% {
		 left: 35px;
		 width: 20px;
	}
}

@keyframes reverse {
	0% {
		left: 35px;
		width: 20px;
	}

	60% {
		left: 4px;
		width: 15px;
	}

	100% {
		 left: 4px;
	}
}


